<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="mypushservice.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
  <connectionStrings>
    <add name="EmergencyDBEntities" connectionString="metadata=res://*/EmergencyDB.csdl|res://*/EmergencyDB.ssdl|res://*/EmergencyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HM-PC\SQLEXPRESSNEW;initial catalog=EmergencyDB;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  -->

  <connectionStrings>
    <add name="EmergencyDBEntities" connectionString="metadata=res://*/EmergencyDB.csdl|res://*/EmergencyDB.ssdl|res://*/EmergencyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;workstation id=emergencydata.mssql.somee.com;packet size=4096;user id=emergencydb;pwd=mikejan85;data source=emergencydata.mssql.somee.com;persist security info=False;initial catalog=emergencydata&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>